[Unit]
Description=teufel-mqtt
After=network.target
Wants=network-online.target

[Service]
Restart=always
User=pi
Environment="MQTT_BROKER=localhost"
Environment="MQTT_PORT=8883"
Environment="MQTT_USER="
Environment="MQTT_PASSWORD="
Environment="MQTT_TLS=1"
WorkingDirectory=/home/pi

ExecStart=/home/pi/teufel-mqtt.py

[Install]
WantedBy=multi-user.target
